header{
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #afafaf;
    font-size: 35px;
    font-family: fantasy;
}
.login-link{
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}
.login-link a{
    text-decoration: none;
}
a.active{
    color: red!important;
}
@media(width:768px){
    .form-inline .form-control{
        width: 10rem;
    }
}