<app-header [myAwesomeValues] = "headerName"></app-header> <!--   here is use of viewchild -->
<div class="body-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0 l-aside">
                <aside>Left panel</aside>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                <router-outlet></router-outlet>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0 r-aside">
                <aside>Right panel</aside>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>