#wrapper {
    display: inline-flex;
    /*no difference to display:flex; */
}
app-root{
    min-height: 100%;
}
.body-container{
    margin-top: 4rem;
}
.r-aside{
    border-left: 2px solid grey; 
}
.l-aside{
    border-right: 2px solid grey; 
}
@media(max-width: 768px){
    .body-container{
        margin-top: 7rem;
    }
}
@media(max-width: 425px){
    .body-container{
        margin-top: 3.4rem;
    }
}